---

- import_tasks: namespace.yml
- import_tasks: secrets.yml
- import_tasks: sa_account.yml
  when: openzaak_create_service_account
- import_tasks: services.yml

- import_tasks: storage.yml
- import_tasks: config.yml

- import_tasks: tls.yml
  when: openzaak_use_tls

- import_tasks: deployments.yml

- import_tasks: ingress.yml
  when: openzaak_use_traefik_crd
