---

- import_tasks: setup_env.yml

- import_tasks: dependencies.yml

- import_tasks: volumes.yml
  become: true
  become_user: "{{ openzaak_podman_user }}"

- import_tasks: containers.yml
  become: true
  become_user: "{{ openzaak_podman_user }}"

- import_tasks: systemd.yml
  become: true
  become_user: "{{ openzaak_podman_user }}"

# load the nginx template
- import_role:
    name: openzaak.deploy.open_zaak_nginx
