---

kind: Service
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/instance: "{{ opennotificaties_instance }}"
    app.kubernetes.io/version: "latest"
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/part-of: open-notificaties
    app.kubernetes.io/managed-by: Ansible
spec:
  selector:
    app.kubernetes.io/name: monitoring
    app.kubernetes.io/instance: "{{ opennotificaties_instance }}"
    app.kubernetes.io/part-of: open-notificaties
  ports:
  - protocol: TCP
    port: 5555
    targetPort: 5555