# {{ ansible_managed }}
# pod-opennotificaties.service

[Unit]
Description=Podman pod-opennotificaties.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStart=/usr/bin/podman pod start opennotificaties
ExecStop=/usr/bin/podman pod stop -t 10 opennotificaties
PIDFile=/run/user/{{ user_id }}/containers/overlay-containers/{{ opennotificaties_pod.pod.InfraContainerID }}/userdata/conmon.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
