---

kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  labels:
    app.kubernetes.io/name: openzaak
    app.kubernetes.io/version: "{{ openzaak_version }}"
    app.kubernetes.io/component: backend
    app.kubernetes.io/managed-by: Ansible
  annotations:
    traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
spec:
{% if openzaak_use_tls %}
  tls:
    - hosts:
        - "{{ openzaak_domain }}"
      secretName: "openzaak-tls-secrets"
{% endif %}
  rules:
  - host: "{{ openzaak_domain }}"
    http:
      paths:
      - path: /
        backend:
          serviceName: openzaak-nginx
          servicePort: 8080

