---

kind: Deployment
apiVersion: v1
metadata:
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/instance: "{{ openzaak_instance }}"
    app.kubernetes.io/version: "5.0"
    app.kubernetes.io/component: cache
    app.kubernetes.io/part-of: open-zaak
    app.kubernetes.io/managed-by: Ansible
spec:
  # single replica because objects are kept in memory
  # TODO: share cache/storage?
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
      app.kubernetes.io/instance: "{{ openzaak_instance }}"
      app.kubernetes.io/part-of: open-zaak
  template:
    metadata:
      name: openzaak-cache
      labels:
        app.kubernetes.io/name: redis
        app.kubernetes.io/instance: "{{ openzaak_instance }}"
        app.kubernetes.io/version: "5.0"
        app.kubernetes.io/component: cache
        app.kubernetes.io/part-of: open-zaak
        app.kubernetes.io/managed-by: Ansible
    spec:
      containers:
      - name: cache
        image: redis:5.0
        command:
          - redis-server
          - "/redis-config/redis.conf"

        resources:
          requests: {{ openzaak_redis_resource_requests }}
          limits: {{ openzaak_redis_resource_limits }}

        readinessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 15
          periodSeconds: 20

        volumeMounts:
        - mountPath: /redis-config
          name: config
      volumes:
        - name: config
          configMap:
            name: {{ openzaak_redis_config_name }}
            items:
            - key: redis-config
              path: redis.conf

      serviceAccountName: "{{ openzaak_service_account| default('default') }}"
      securityContext: {{ openzaak_pod_security_context }}
