user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

stream {

    upstream inways {
    {% for _uptream in nlx_inway_replicas %}
    server {{ _uptream }}:8443 max_fails=2;
    {% endfor %}
}

    upstream outways {
    {% for _uptream in nlx_outway_replicas %}
    server {{ _uptream }}:8080 max_fails=2;
    {% endfor %}
}

    # Inway load balancer
    server {
        listen 8443;
        proxy_pass inways;
    }

    # Outway load balancer
    server {
        listen 8080;
        proxy_pass outways;
    }
}
