- openzaak-private-media:/app/private-media
- "{{ openzaak_env_file }}:/app/.env"
{% if openzaak_db_bind_mount %}
- {{ openzaak_db_bind_mount }}:/var/run/postgresql
{% endif %}
{% for extra_volume in openzaak_extra_volumes %}
- "{{ extra_volume }}"
{% endfor %}
