- "{{ opennotificaties_env_file }}:/app/.env"
{% if opennotificaties_db_bind_mount %}
- {{ opennotificaties_db_bind_mount }}:/var/run/postgresql
{% endif %}
{% for extra_volume in opennotificaties_extra_volumes %}
- "{{ extra_volume }}"
{% endfor %}
